* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

body {
    font-family: Roboto, Arial, sans-serif;

    display: flex;
    flex-direction: column;
}

/* hero style */
.hero {
    padding: 0 96px;
}

.hero, .footer {
    background-color: #1f2937;
}

.hero .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero a, .hero .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .main-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero a {
    text-decoration: none;
    margin-left: 16px;
}

.hero a:hover {
    color: #3882f6;
}

/* header flexbox */
.hero .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.hero .hero-main {
    display: flex;
    padding: 96px 0;
    gap: 64px;
    align-items: center;
}

.hero .left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* button */
.sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    width: 100px;
}

/* main-content */
/* rand-info */
.main-content .rand-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.rand-info .container {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 1000px;
}

.rand-info .title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.rand-info .subtext {
    color: #1f2937;
}

.container .info {
    text-align: center;
    width: 180px;
}

/* quote */
.main-content .quote-section {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 96px 0;
}

.main-content .quote {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 8px;
}

.quote .text {
    color: #1f2937;
    font-family: light italic, arial, sans-serif;
}

.quote .author {
    margin-left: auto;
    font-weight: bold;
    color: #1f2937;
}

/* cta */
.main-content .cta {
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.cta .container {
    background-color: #3882f6;
    border-radius: 4px;
    height: 100px;
    width: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 104px;
    color: #f9faf8;
}

.cta .title {
    font-weight: 900;
}

.cta .subtext {
    font-size: 14px;
}

.cta .sign-up {
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    color: #f9faf8;
}